{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div id="pagecontent"></div>
<script type="text/javascript">
{% include "spages/lib/page.js" %}
{% include "spages/lib/promise.min.js" %}
function loadPage(resturl){
	var container = 'pagecontent';
	promise.get(resturl,{},{"Accept":"application/json"}).then(function(error, data, xhr) {
	    if (error) {console.log('Error ' + xhr.status);return;}
	    content = JSON.parse(data).content;
	    //console.log(content+"\n"+resturl);
	    document.getElementById(container).innerHTML = content;
	});
}
{% include "spages/auto/routes.js" %}
page();
</script>
{% endblock %}